---
import "../styles/components/about-home.css";
import ContactSocialIcons from "./ContactSocialIcons.astro";
---

<div class="card__about" data-aos="fade-right" >
  <div class="card-photo">
    <img class="about__img--src" src="./img/ckteam4.jpg" alt="" />
  </div>
  <div class="card-title">
    <p>C & K TEAM</p>
    <!-- <span>Frontend Developer & AI Engineer</span> -->
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
